body{
    background-color: beige;
}
.heading{
    font-weight: bolder;
    font-size: 50px;
    color: purple;
}
.cus{
    font-weight: bolder;
    font-size: xx-large;
    color: purple;
}
.aside{
    display: flex;
    justify-content: left;
    text-align: end;
    padding: 20px;
    margin: 12px;
}
.container1{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.alt{
    font-size: large;
    color: purple;
    font-weight: bold;
}
.img{
    border: 2px solid purple;
     border-radius: 50%;
     height: 150px;
     width: 150px;
     background-color: bisque;
}
.section{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-flow: wrap;
    
}

footer{
    color:black;
    text-align: center;
    font-size: medium;
}
.aside{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:20px;
    position: relative;
    float: right;
    flex-flow: column;
    align-self: flex-start;
}
.star{
    display: flex;
    align-self: flex-start;
    border: 2px solid black;
     height: 20px;
     width: 20px;
     background-color: darkkhaki;
     flex-wrap: wrap;
     
}
.rating{
     display:flex; 
    border: 2px solid black;
    height:fit-content;
    width:fit-content;
    background-color: darkkhaki;
    justify-content: baseline;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
@media (max-width:900px) {
    header{
        grid-template-areas: 
        "heading"
        "cus";
    }
    body{
        background-color:yellowgreen;
}
}